*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    color:white;
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}
#box{
    height: 300px;
    width: 300px;
    background-color:aqua;
}
#box1{
    height: 250px;
    width: 250px;
    background-color: crimson;
}
#box2{
    height: 250px;
    width: 250px;
    background-color: lightseagreen;
}
#box3{
    height: 250px;
    width: 250px;
    background-color: lightblue;
}

#nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

}

#part2{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
}