*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 100px;
    /* background-color: red; */
    overflow: hidden;
}

h1 span{
    display: inline-block;
}